* {
  box-sizing: border-box;
}

@media (min-height: 620px) {
  .sidebar-nav {
    justify-content: space-between;
  }
}

body {
  margin: 0;
  background-color: #262626;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: clamp(220px, 25%, 280px) 1fr;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

img {
  user-select: none;
}

main {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: repeat(8, 1fr);
  padding: 0 1.5rem 1.5rem;
  max-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* sidebar styles */

.dashboard-logo-btn {
  padding: 1.25rem;
  padding-bottom: 1.75rem;
  position: relative;
}

#main-logo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-logo {
  width: 60%;
}

.sidebar {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  background-color: #171717;
  color: white;
  padding-top: 0.35rem;
  user-select: none;
  position: relative;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 1.1rem;
  font-weight: 400;
}

.sidebar li:hover {
  background: #404040;
  color: #f5f5f5;
  border-left: 4px solid #f97316;
  padding-left: calc(1.1rem - 4px);
}

.sidebar-nav>ul:first-child {
  padding: 0.5rem 0 0.75rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}